{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container container-produit">
        <div class="left">
            <img src="{{asset('uploads/'~produit.image)}}" alt="{{produit.image}}"/>
        </div>
        <div class="right">
            <h1>{{produit.nom}}</h1>
            <span>{{ produit.prix }}</span>
            <div class="desc">
                <p>{{ produit.description }}</p>
            </div>
            <button><a href="{{ path('app_panier_index') }}">{{ 'produit.ajout_btn'|trans }}</a></button>
        </div>
    <div>

    {# {{ include('produit/_delete_form.html.twig') }} #}
{% endblock %}
