{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <button><a href="{{path('app_produit_delete', {'id':produit.id})}}">supprimer le produit</a></button>
        <button><a href="{{path('app_produit_edit', {'id':produit.id})}}">modifier le produit</a></button>
    {% endif %}
    <div class="container container-produit">
        <div class="left">
            <img src="{{asset('uploads/'~produit.image)}}" alt="{{produit.image}}"/>
        </div>
        <div class="right">
            <h1>{{produit.nom}}</h1>
            <span>{{ produit.prix }}</span>
            <div class="desc">
                <p>{{ produit.description }}</p>
            </div>
            <button><a href="{{ path('app_contenu_panier_new', {'id': produit.id }) }}">{{ 'produit.ajout_btn'|trans }}</a></button>
        </div>
    <div>

    {# {{ include('produit/_delete_form.html.twig') }} #}
{% endblock %}
