{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container container-produit">
        <div class="left">
            <img src="{{asset('uploads/'~produit.image)}}" alt="{{produit.image}}"/>
        </div>
        <div class="right">
            <h1>{{produit.nom}}</h1>
            <span>{{ produit.prix }}</span>
            <div class="desc">
                <p>{{ produit.description }}</p>
            </div>
            <form>
                {# <input type="number" name="produit_quantite" id="nom" value="1"> #}
                <button><a href="{{ path('app_contenu_panier_new', {'id': produit.id }) }}">{{ 'produit.ajout_btn'|trans }}</a></button>
            </form>
        </div>
    <div>

    {# {{ include('produit/_delete_form.html.twig') }} #}
{% endblock %}
